<!DOCTYPE html>
<html lang="pt-br">


<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Academia Força Total</title>

    <!-- Fonte (opcional por enquanto) -->
    <meta name="color-scheme" content="dark">
    <link href="https://fonts.googleapis.com/css2?
family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <!-- CSS -->

    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/colors.css">
    <link rel="stylesheet" href="../static/styles/login.css">

</head>

<body>
    <header>

        <nav>
            <span><h1 id="home" onclick="window.location.href='../'">Força Total</h1><ul id="sectionList">
                <li><a href='../#inicio'>Início</a></li>
                <li><a href='../#sobre'>Sobre</a></li>
                <li><a href='../#planos'>Planos</a></li>
                <li><a href='../#treinos'>Treinos</a></li>
                <li><a href='../#contato'>Contato</a></li>

            </ul></span>
            <ul>
                <li>
                    <a href="../login" class="login-button">Login</a>
                </li>
            </ul>

        </nav>
    </header>
    <main>
        <div class="bgimg" src="" alt=""></div>
        <section>
            <h2>Tudo começa com um clique!</h2>
            <form action="" id="formulario">
                <span>
                    <p>Nome</p>
                    <input id="username" type="text" required autocomplete="off" placeholder="Nome">
                </span>
                <span>
                    <p>E-Mail</p>
                    <input id="email" type="email" required autocomplete="off" placeholder="E-mail">
                </span>
                <span>
                    <p>Senha</p>
                    <input id="password" type="password" required autocomplete="off" placeholder="Senha">
                </span>
                <p id="error-p" style="display: none;color: rgb(252, 124, 124);text-align: center;">errorp</p>
                <span class="button-wrapper">
                <button id="submitButton" type="submit">Cadastrar</button></span></form>

            <p class="continue">Ou continue com</p>
            <ul>
                <li><button onclick="alert('Não implementado por conta de não ser um site registrado')"></button></li>
                <li><button onclick="alert('Não implementado por conta de não ser um site registrado')"></button></li>

            </ul>
            <a href="../login/">
                <span>Já tem uma conta? </span>Logar!</a>
        </section>

    </main>
    <script src="../static/scripts/register.js"></script>
</body>

</html>