body {
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

html {
    overflow: hidden;
}

.bgimg {
    background-size: cover;
    filter: blur(3px) brightness(0.20);
    flex-grow: 1;
    height: 100%;
    position: absolute;
    background-position: center;
    z-index: -1;
    width: 100%;
    background-image: url(../academia.png);
}

main {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    background-color: var(--dark-color);
    padding: 24px 40px;
    width: 50%;
    border-radius: 24px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

section form input {
    background-color: rgba(255, 255, 255, 0.1);
    border-style: none;
    color: white;
    flex-grow: 1;
    width: max-content;
    margin-bottom: 8px !important;
    font-size: 1rem;
    width: calc(100% - 50px);
    font-family: 'Poppins', sans-serif;
    padding: 8px 24px;
    border-radius: 20px;
    margin: 0;
}

section h2 {
    margin: 0;
    font-size: 1.75rem;
    text-align: center;
    margin-bottom: 24px;
}

section p {
    color: var(--text-color-secondary);
    margin: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
}

section button {
    background-color: var(--button-color);
    border: none;
    color: black;
    border-radius: 210px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    flex-grow: 0;
    width: 60%;
    font-size: 1rem;
    padding: 8px 16px;
    margin-top: 16px;
    z-index: 4;
    transition: all 0.5s ease;
    user-select: none;
}

.continue {
    text-align: center;
    margin: 8px 0px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
    gap: 16px;
    height: 48px;
    margin: 0px 24px;
}

ul li {
    list-style-type: none;
    flex-grow: 1;
}

ul li button {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 16px;
    background-color: #ccc;
}

section button:hover {
    background-color: #fff;
    transform: scale(1.1);
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
}

ul li:nth-child(1) button {
    background-image: url(../google.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

ul li:nth-child(2) button {
    background-image: url(../github.png);
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
}

section a {
    text-align: center;
    margin: 16px 0px;
    color: rgb(94, 128, 231);
    text-decoration: none;
    transition: all 0.5s ease;
}

section a span {
    color: var(--text-color-secondary);
}

section a:hover {
    transform: scale(1.1);
}

.wrong {
    background-color: rgba(255, 129, 129, 0.082) !important;
    border-color: rgba(160, 0, 0, 0.1) !important;
    border-style: solid !important;
    border-width: 2px !important;
    color: rgb(252, 99, 99) !important;
}